<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="./Public/css/style.css" rel="stylesheet"/>
    <title>注册</title>
    <!--引入头部-->
    <?php require "./View/Public/header.html"; ?>
<div class="container" >
<div class="sep20"></div>
    <div id="reg">
        <b>注册</b>
        <div style="line-height: 1px;border: 1px solid #ddd;"></div>
        <div id="reg_form">
            <table width="100%">
                <tr>
                    <!--left s-->
                    <td width="60%">
                        <div  class="basic-grey" style="float: left">
                            <form action="./index.php?c=register&a=doRegister" method="post">
                                        <label>
                                            <span>用户名：</span>
                                            <input  type="text" name="userName" />
                                        </label>

                                        <label>
                                            <span>密码：</span>
                                            <input  type="password" name="password" />
                                        </label>

                                        <label>
                                            <span>确认密码：</span>
                                            <input  type="password" name="surepass" />
                                        </label>
                                        <label>
                                            <span>电子邮箱：</span>
                                            <input type="email" name="email" />
                                        </label>
                                        <label>
                                            <span>&nbsp;</span>
                                            <input type="submit" class="button button-orange big" value="确认注册" />
                                        </label>
                            </form>
                        </div>
                    </td>
                    <!--left e-->
                    <!--right s-->
                    <td>
                        <div id="right" style="float: right;width:40%  " >
                            已经拥有账号？
                            <div class="sep10"></div>
                            <a href="./index.php?c=login&a=index"><button class="button button-silver big">登录</button></a>
                        </div>
                    </td>
                    <!--right e-->
                </tr>
            </table>
        </div>

    </div>
</div>

</body>
</html>