<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回帖</title>
    <link href="./Public/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="./Public/umeditor/third-party/jquery.min.js"></script>
    <script type="text/javascript" src="./Public/umeditor/third-party/template.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./Public/umeditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="./Public/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="./Public/umeditor/lang/zh-cn/zh-cn.js"></script>
    <?php require "./View/Public/header.html"; ?>
<!--搜索s-->
<div class="container">
    <div id="search">
        <div  style="padding:8px 0px 5px 50px">
            <input style="width: 300px;color:darkgray" value="让学习成为一种习惯"/>
            <select name="search">
                <option selected>帖子</option>
                <option>用户</option>
                <option>板块</option>
            </select>
            &nbsp;&nbsp;
            <button  class="button button-orange">搜索</button>&nbsp;&nbsp;&nbsp;

            热搜：
            <a href="" class="search">php</a>&nbsp;&nbsp;
            <a href="" class="search">php视频</a>&nbsp;&nbsp;
            <a href="" class="search">php教程</a>&nbsp;&nbsp;
            <a href="" class="search">php培训</a>&nbsp;&nbsp;
        </div>
    </div>
    <!--搜索e-->
    <?php
        //帖子
        $conn_t = new Model('post');
        $t_info = $conn_t->find($_GET['pid']);
    ?>
    <div style="padding:5px 5px;font-size: 15px">
        <a href="./index.php?c=index&a=index" class="blue"><?=$peizhiinfo['webname']?></a> >
        <a href="./index.php?c=list&a=detail&id=<?=$_GET['pid']?>" class="blue"><?=$t_info['title']?></a> >
        发表回复
    </div>
    <!--<div class="sep10"></div>-->
    <!--<p class="f13"><img src="./Public/images/ydjian.png"> > PHP技术交流 > 发表回复</p>-->

    <div id="new" style="padding: 10px;background-color: #fff;font-size: 12px;">
        <div class="sep20"></div>
        <div  class="basic-grey" style="width:500px;">
            <label>
                <span>标题：</span>
                <input  type="text" name="title" value="<?=$t_info['title']?>" disabled/>
            </label>
            <form action="./index.php?c=list&a=doReply&pid=<?=$_GET['pid']?>" method="post">
                <label>
                <span>回复内容：</span>
                <textarea name="content"></textarea>
                    </label>
                <label>
                    <span></span>
                    <button class="button button-orange big">发表回复</button>
                </label>

                <div class="sep20"></div>
            </form>
        </div>

    </div>
</div>
<?php require "./View/Public/footer.html"; ?>
</div>
</body>
</html>